.infoBarRight {
display: flex;
align-items: center;
justify-content: space-between;
background: #5765d2;
border-radius: 10px 10px 0 0;
height: 60px;
width: 100%;
}

.leftInnerContainer {
flex: 0.5;
display: flex;
align-items: center;
margin-left: 5%;
color: white;
}

